<div class="home-container">
    <button (click)="selectButton()" mat-raised-button color="warn">Button</button>
    <button (click)="selectTypography()" mat-raised-button color="warn">Typography</button>
    <button (click)="selectButtonToggle()" mat-raised-button color="warn">Button-Toggle</button>
    <button (click)="selectIcon()" mat-raised-button color="warn">Icon</button>
    <button (click)="selectBadges()" mat-raised-button color="warn">Badges</button>
    <button (click)="selectProgressSpinner()" mat-raised-button color="warn">Progress Spinner</button>
    <button (click)="selectNavbar()" mat-raised-button color="warn">Navbar</button>
    <button (click)="selectSideNav()" mat-raised-button color="warn">SideNav</button>
    <button (click)="selectMenu()" mat-raised-button color="warn">Menu</button>
    <button (click)="selectList()" mat-raised-button color="warn">List</button>
    <button (click)="selectGridList()" mat-raised-button color="warn">Grid List</button>
    <button (click)="selectExpansionPanel()" mat-raised-button color="warn">Expansion Panel</button>
    <button (click)="selectCard()" mat-raised-button color="warn">Card</button>
    <button (click)="selectTab()" mat-raised-button color="warn">Tab</button>
    <button (click)="selectStepper()" mat-raised-button color="warn">Stepper</button>
    <button (click)="selectInput()" mat-raised-button color="warn">Input</button>
    <button (click)="select_SelectModule()" mat-raised-button color="warn">Select</button>
    <button (click)="selectAutoComplete()" mat-raised-button color="warn">AutoComplete</button>
    <button (click)="selectCheckBoxAndRadioButton()" mat-raised-button color="warn">Checkbox-RadioButton</button>
    <button (click)="selectDatepicker()" mat-raised-button color="warn">Datepicker</button>
    <button (click)="selectTooltip()" mat-raised-button color="warn">Tooltip</button>
    <button (click)="selectSnackbar()" mat-raised-button color="warn">Snackbar</button>
    <button (click)="selectTable()" mat-raised-button color="warn">Table</button>
    <button (click)="selectVirtualScrolling()" mat-raised-button color="warn">Virtual Scrolling</button>
</div>