<div class="home-container">
    <button (click)="selectButton()" mat-raised-button color="warn">Button</button>
    <button (click)="selectTypography()" mat-raised-button color="warn">Typography</button>
    <button (click)="selectButtonToggle()" mat-raised-button color="warn">Button-Toggle</button>
    <button (click)="selectIcon()" mat-raised-button color="warn">Icon</button>
    <button (click)="selectBadges()" mat-raised-button color="warn">Badges</button>
    <button (click)="selectProgressSpinner()" mat-raised-button color="warn">Progress Spinner</button>
    <button (click)="selectNavbar()" mat-raised-button color="warn">Navbar</button>
    <button (click)="selectSideNav()" mat-raised-button color="warn">SideNav</button>
    <button (click)="selectMenu()" mat-raised-button color="warn">Menu</button>
    <button (click)="selectList()" mat-raised-button color="warn">List</button>
    <button (click)="selectGridList()" mat-raised-button color="warn">Grid List</button>
</div>