<app-header></app-header>

<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Angular Fundamentals
      </mat-panel-title>

      <mat-panel-description>
        Total Duration : 3 hours
      </mat-panel-description>
    </mat-expansion-panel-header>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At labore, 
      laudantium enim suscipit distinctio fugit explicabo maiores voluptate doloribus, 
      sit vitae odit dolores itaque autem aperiam assumenda? Dolores, ab sit?</p>

    <mat-action-row>
      <button mat-raised-button color="accent"> Enroll </button>
    </mat-action-row>
</mat-expansion-panel>
